body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: san;
    background-color: rgb(236, 233, 229);
    display: flex;
    justify-content: center;
}

div{
    border: 1px solid ;
}


content{
    width: 400px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.title{
    width: 460px;
    padding: 10px;
    margin-top: 20px;

    background: rgb(253, 48, 48);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    color: aliceblue;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}


.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item{
    min-height: 200px;
    min-height: 400px;
    margin-bottom: 10px;
    padding: 10px;

    background-color: azure;

    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-title{
    font-weight: bold;
}

.item-img{
    height: 200px;
}

.parts-pay{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.parts-pay img{
    height: 24px;
}

/*блок ціни*/
.price{
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
}

.price div:first-child{
    width: 100px;
    font-size:20px;
}

.price div:first-child span{
    text-decoration-line: line-through;
}

.price div:first-child sup{
    font-size: 12px;
}

.price div:last-child{
    font-size: 24px;
}

.price div:last-child sup{
    font-size: 14px;
}

/*блок контактів*/
.contacts p{
    margin: 3px;
}

.contacts p:first-child{
    font-weight: bold;
    letter-spacing: 1px;
}

.contacts p:last-child{
    border-left: 3px solid rgb(253, 48, 48);
}

/*інформація*/
.ifo{
    font-size: 9px;
    text-align: justify;
    color: rgb(120, 120, 120);
}